@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo'), local('Baloo-Regular'), url(https://fonts.gstatic.com/s/baloo/v1/RFm9MaodarSezi9FSqQmfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url(https://fonts.gstatic.com/s/cuprum/v8/rZj40-VH1f1Wt0yg6Fkbcw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.navbar-brand{  
    font-family: 'Baloo',cursive;
    font-size: 25px;
}
.navbar-nav{
    font-family: 'Cuprum',cursive;
    font-size: 18px;
    letter-spacing: 1px;
}
#jumb{
    padding-top: 40px;
}
.jumbotron{
    overflow: hidden;
    line-height: 35px;
}
.jumbotron h1, h2{
    display: inline-block;
    font-family: 微軟正黑體;
    margin-bottom: 20px;
}

.btn-default{
    background: #e6e6e6;
    font-family: 'Cuprum';
    font-size: 20px;
    box-shadow: none;
    padding: 6px 20px;
    letter-spacing: 1px;
    font-size: 25px;
}
p{
    font-family: 微軟正黑體;
    font-weight: bold;
}
.ICON{
    display: block;
    margin: 0 auto;
}
.modal-dialog{
    width: 50%;
    /*overflow: scroll;*/
}
.modal-body img{
    width:100%;
}
.collection{
    height: 350px;
    text-align: center;
}
.collection img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
    max-width: 100%;
}
#collections{
    padding-top:30px;
}