.card{
    margin: auto;
    margin-top:100px;
    width:500px;
    height:280px;
    /*border:1px solid red;*/
    border-radius:10px;
    /*background-image: url(https://goo.gl/3MoCJG);
    background-position: center;*/
    overflow:hidden;
    border:1px solid lightslategray;
    transition:1s;
    transition-timing-function: ease-in-out;
}

.card:hover{
    box-shadow: 10px 10px 30px grey;
}

.photo{
    display:inline-block;
    position:relative;
    top:80px;
    left:50px;
    width:100px;
    height:110px;
    border:1px solid grey;
    border-radius:5px;
    overflow:hidden;

}
.photo img{
    width:120%;
    position:relative;
    top:-6px;
    left:-10px;
}
.name{
    display:inline-block;
    width:250px;
    height:50px;
    position:relative;
    top:-20px;
    left:70px;
    /*border:1px solid grey;*/
    text-align: center;
}
.intro{
    display:inline-block;
    width:250px;
    height:80px;
    position:relative;
    top:-28px;
    left:200px;
    font-family: 微軟正黑體;
    line-height: 22px;
    font-weight:bold;
    /*border:1px solid grey;*/
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v9/DPPfSFKxRTXvae2bKDzp5FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.name span{
    display:inline-block;
    position:relative;
    top:15px;
    font-family:'Amatic SC';
    font-size:30px;
    letter-spacing: 2px;
    font-weight: bold;
}
hr{
    width:250px;
    position: relative;
    top:-20px;
    left:52px;
    border:0; height:1px; background-color: lightslategray;
	color:lightslategray
}
.card .bg{
    position: relative;
    top: -330px;
    z-index: -1;
    width: 500px;
    opacity: 0.5;
}
.topic {
    text-align: center;
    font-family: 微軟正黑體;
    color: lightslategrey;
    font-weight: bold;
    letter-spacing: 1px;
}
/*div {
    border:1px sloid red;
}*/